<h1>
  <%= render('shared/back') %>
  <%= @category.name %>
  <span>
    <strong>Total Amount:</strong> $<%= @amount || 0 %>
  </span>
</h1>

<% if @entities.empty? %>
  <%= render('shared/empty_list') %>
<% else %>
  <ul>
    <%= render(@entities) %>
  </ul>
<% end %>

<%= link_to('New Transaction', new_category_entity_path) %>
