<h1>
  <%= link_to('< ', category_entities_path(category_id))%>

  New Transaction
</h1>

<%= form_with(model: @entity, url: category_entities_path(category_id)) do |f| %>
  <div>
    <%= f.label(:name) %>
    <%= f.text_field(:name, placeholder: 'name', required: true) %>
  </div>

  <div>
    <%= f.label(:amount) %>
    <%= f.number_field(:amount, placeholder: 'amount', min: 0, required: true) %>
  </div>

  <div>
    <%= f.label('Categories') %>
    <%= f.collection_check_boxes(:category_ids, my_categories, :id, :name) do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <%= f.submit('Create') %>
<% end %>
