<%= render('shared/form', title: 'NEW TRANSACTION', action: 'Create', url_to: category_entities_path(category_id)) %>

<section class="new-ft-trans">
  <%= form_with(model: @entity, url: category_entities_path(category_id), class: 'flex-col devise-form', id: 'devise_user') do |f| %>
    <%= f.text_field(:name, class: 'field', placeholder: 'name', required: true) %>
    <span class="spacer"></span>
    <%= f.number_field(:amount, class: 'field', placeholder: 'amount', min: 0, required: true) %>

    <div class="categs-list">
      <%= f.label('Other Categories (Optional)') %>
      <%= f.collection_check_boxes(:category_ids, my_categories, :id, :name) do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
